     /* Import Google font - Poppins */
     <!--@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");-->
     * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: "Poppins", sans-serif;
     }
     body {
       min-height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 20px;
       background:url('image2.avif') no-repeat;
         background-size:cover;
         background-position:center;
     }
     .container {
       position: relative;
       max-width: 700px;
       width: 100%;
       background: white;
       padding: 25px;
       border:5px solid white;
       border-radius: 8px;
       box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
     }
     .container header {
       font-size: 1.5rem;
       color: #333;
       font-weight: 500;
       text-align: center;
     }
     .container .form {
       margin-top: 30px;
     }
     .form .input-box {
       width: 100%;
       margin-top: 20px;
     }
     .input-box label {
       color: #333;
     }
     .form :where(.input-box input, .select-box) {
       position: relative;
       height: 50px;
       width: 100%;
       outline: none;
       font-size: 1rem;
       color: #707070;
       margin-top: 8px;
       border: 1px solid #ddd;
       border-radius: 6px;
       padding: 0 15px;
     }
     
     .input-box input:focus {
       box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
     }
     .form .column {
       display: flex;
       column-gap: 15px;
     }
     .form .gender-box {
       margin-top: 20px;
     }
     .gender-box h3 {
       color: #333;
       font-size: 1rem;
       font-weight: 400;
       margin-bottom: 8px;
     }
     .form :where(.gender-option, .gender) {
       display: flex;
       align-items: center;
       column-gap: 50px;
       flex-wrap: wrap;
     }
     .form .gender {
       column-gap: 5px;
     }
     .gender input {
       accent-color: rgb(130, 106, 251);
     }
     .form :where(.gender input, .gender label) {
       cursor: pointer;
     }
     .gender label {
       color: #000;
     }
     .address :where(input, .select-box) {
       margin-top: 15px;
     }
     .select-box select {
       height: 100%;
       float:left;
       width: 100%;
       outline: none;
       border: none;
       color: #707070;
       font-size: 1rem;
     }
     .form button {
       height: 55px;
       width: 100%;
       color: #fff;
       font-size: 1rem;
       font-weight: 400;
       margin-top: 30px;
       border: none;
       cursor: pointer;
       transition: all 0.2s ease;
       background-color:#213030;
       border-radius:15px;
     }
     .form button:hover {
       background: #918e84;
     }
    .gender-box span,
   .input-box span{
      display:block;
      font-weight:400;
      font-size:14px;
      color:red;
      
   }
   .input-box span i{
      color:seagreen;
    }


    nav{
      background:transparent;
      height:60px;
      width:100%;
  }
  label.logo{
     color:rgb(236, 240, 243);
      font-size:35px;
      line-height:80px;
      padding:0 50px;
      font-weight:bold;
  }
  nav ul{
      float:right;
      margin-right:20px;
  }
  nav ul li{
      display:inline-block;
      line-height:40px;
      margin:0 5px;
  }
  nav ul li a{
      color:rgb(245, 242, 242);
      font-size:17px;
      padding:7px 13px;
      border-radius:3px;
      text-transform:none;
  }
  
  a.active,a:hover{
      background:#7a0303;
      transition:.5s;
  }
  .checkbtn{
      font-size:30px;
      color:rgb(199, 197, 215);
      float:right;
      line-height:80px;
      margin-right:40px;
      cursor:pointer;
      display:none;
  }
  #check{
      display:none;
  }
  @media (max-width:952px)
  {
      label.logo{
          font-size:30px;
          padding-left:30px;
          color:aliceblue;
      }
      nav ul li a{
          font-size:16px;
      }
  }
  @media (max-width:858px)
  {
      .checkbtn{
          display:block;
      }
      ul{
          position: fixed;
          width:100%;
          height:100vh;
          background:#cb5260;
          top:80px;
          left:-109%;
          text-align:center;
          transition:all .5s;
  
      }
      nav ul li{
          display:block;
          margin:50px 0;
          line-height:30px;
      }
      nav ul li a{
          font-size:20px;
          text-align:center;
      }
      a:hover,a.active{
          background:none;
          color:#1f0341;
      }
      #check:checked ~ ul{
          left:0;
  
      }
  
  }



     /*Responsive*/
     @media screen and (max-width: 500px) {
       .form .column {
         flex-wrap: wrap;
       }
       .form :where(.gender-option, .gender) {
         row-gap: 15px;
       }
     }